# VS Code workspace files
*.code-workspace
.vscode/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# IDEs
.idea/
*.swp
*.swo
*~
.project
.pydevproject
.settings/
*.sublime-project
*.sublime-workspace

# Environment variables
.env
.env.local
.env.*.local

# OS
Thumbs.db
*.bak

# Logs
*.log
logs/

# Temporary files
tmp/
temp/
*.tmp


data/gold/
spark-warehouse/
mlruns/
.pytest_cache/
__pycache__/






